---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header class="print:hidden">
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-end">
      <nav class="flex gap-1">
        <Link href="/"> home </Link>
        <span>
          {`/`}
        </span>
        <Link href="/blog"> blog </Link>
        <span>
          {`/`}
        </span>
        <Link href="/resume"> resume </Link>
      </nav>
    </div>
  </Container>
</header>
